html{
    padding: 0;
    margin: 0;
    max-width: 100%;
    background: rgb(41, 43, 42);
    color: white;
}


/* Sticky Menu bottom */
#foot-menu{
    padding: 15px;
    overflow: hidden;
    background: #515452;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    border-top: 1px solid rgb(136, 138, 137);
    box-shadow:rgb(136, 138, 137);
    /* Aplicamos Flex */
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
}
/*  */




#primary,#son{
    display: flex;
    flex-direction: column;
    align-items: center;
}
svg{
    fill: white;
}
table,input,button,tr{
    margin: 10px;
    border-collapse: collapse
}
table{
    margin: 0;
}
tr{
    border-bottom: 1px solid black;
}
td,th{
    text-align: center;
    padding: 8px 8px;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    text-align: center;
    padding: 10px 6px;
    border-radius: 20px;
    border-width: 0px;
}

button{
    background-color: deepskyblue;
    padding: 8px 25px;
    border-radius: 15px;
    border-width: 0px;
}
